<?xml version="1.0" encoding="UTF-8"?>

<suite name="Petstore API Suite" verbose="1" parallel="tests" thread-count="2">
    
    <test name="Petstore API Tests">
        <classes>
            <class name="com.petstore.tests.PetstoreTest" />
            
            <class name="com.petstore.tests.PetstoreTestNG" />
            
        </classes>
    </test>

</suite>
